<h1 class="title">{{ adminService.folder.name }}</h1>

<div class="tiles_container">
  <mat-card (click)="openDialog('upload')" class="tile">
    <mat-card-header>
      <mat-card-title>Upload</mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card (click)="openDialog('send')" class="tile">
    <mat-card-header>
      <mat-card-title>Send</mat-card-title>
    </mat-card-header>
  </mat-card>
  <img *ngFor="let file of adminService.images" class="tile" [src]="file | async" alt="" />
</div>
