<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-header>
      <mat-card-title class="title" >Login for Admin Access</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-fab extended color="primary">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
